﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Iniciar sesión</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/InicioSesion.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Inicia sesión</h1>

        <form action="@Url.Action("Login","Accesos")" method="post">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="Correo" placeholder="Ingrese su usuario">

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="Clave" placeholder="Ingrese su contraseña">

            @if (ViewData["Mensaje"] != null)
            {
                <div class="alert alert-light" role="alert">
                    @ViewData["Mensaje"]
                </div>
            }
            <button type="submit">Iniciar sesión</button>
        </form>

        <div class="register">
            <p>¿No tienes una cuenta? <a href="@Url.Action("Registrar","Accesos")">Regístrate</a></p>
        </div>
    </div>

    <video id="background-video" autoplay loop muted>
        <source src="~/Content/y2mate.com - AMONG US FONDO DEL ESPACIO por 5 MINUTOS_720pFHR.mp4" type="video/mp4">

    </video>
</body>
</html>
