﻿
@{
    ViewBag.Title = "Registro";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registro - Danger Space</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: white;
            font-family: 'Press Start 2P', sans-serif;
        }

        .container {
            max-width: 500px;
            margin: 30px auto;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        .title {
            color: lawngreen;
        }

        form {
            margin-top: 10px;
            margin: 10px auto;
        }

        label {
            display: block;
            margin-bottom: 5px;
            margin: 10px auto;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border-radius: 3px;
            border: 1px solid #ccc;
            font-family: 'Press Start 2P', sans-serif;
        }

        button[type="submit"] {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: transparent;
            box-shadow: 0 0 5px rgb(255 255 255);
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-family: 'Press Start 2P', sans-serif;
        }

            button[type="submit"]:hover {
                background-color: #fff;
                color: #000000;
            }
    </style>


</head>
<body>
    <div class="container">
        <h1 class="title">Registro</h1>

        <form  action="@Url.Action("Registrar","Accesos")" method="post">
            <label for="username">Usuario:</label>
            <input type="email" id="username" name="Correo" placeholder="Ingrese su usuario">

            <label for="email">Correo electrónico:</label>
            <input type="password" id="email" name="Clave" placeholder="Ingrese su correo electrónico">

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="ConfirmarClave" placeholder="Ingrese su contraseña">

            <button type="submit">Registrarse</button>
        </form>
    </div>

    <video id="background-video" autoplay loop muted>
        <source src="~/Content/y2mate.com - AMONG US FONDO DEL ESPACIO por 5 MINUTOS_720pFHR.mp4" type="video/mp4">

    </video>
</body>
</html>
