﻿/* Estilos para la barra de navegación */
nav {
    background-color: rgba(55, 0, 55, 0.8); /* Morado oscuro transparente */
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            display: inline-block;
            color: #fff;
        }

            nav ul li a {
                display: block;
                padding: 10px 15px;
                color: #fff;
                text-decoration: none;
                font-size: 15px;
                font-family: 'Press Start 2P', sans-serif;
            }

                nav ul li a:hover {
                    background-color: rgba(55, 0, 55, 0.6); /* Morado oscuro transparente en hover */
                }

/* Estilos para la información del juego */
.game-info {
    text-align: center;
    padding: 10px;
    width: 800px;
    margin-right: 30px;
    margin-left: 0px;
}

.text-con {
    background-color: rgba(55, 0, 55, 0.7);
    padding: 10px;
    width: 830px;
    border-radius: 20px;
}

.game-mode {
    text-align: center;
    padding: 10px;
    width: 800px;
    border-radius: 20px;
}

.game-info h1 {
    font-size: 24px;
    margin: 0;
    color: #fff;
}

.game-info span {
    font-size: 14px;
    color: #888;
    text-align:justify;
}

/* Estilos para la sección de inicio de sesión */
.user-section {
    float: right;
}

    .user-section span,
    .user-section a {
        color: #fff;
        margin-right: 6px;
    }

        .user-section a:hover {
            text-decoration: underline;
        }

nav ul li.danger-space {
    margin-right: 40px; /* Ajusta el valor para controlar la separación hacia la derecha */
    margin-left: 30px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
