﻿.container {
    width: 300px;
    margin: 0 auto;
    padding-top: 100px;
    font-size: 12px;
}

body {
    color: white;
    font-family: 'Press Start 2P', sans-serif;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

h1 {
    text-align: center;
    color:lawngreen;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color:white;
    font-size:12px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Press Start 2P', sans-serif;

}

    button[type="submit"]:hover {
        background-color: #45a049;

    }

.register {
    text-align: center;
    font-size: 15px;
}

    .register a {
        color: blue;
        font-size: 11px;
    }
