﻿/* Estilos para el fondo */
body {
    background-color: #000;
    background-image: url("../Content/space-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilos para los elementos de texto */
h4 {
    color: #fff;
    font-size: 64px;
}

p {
    color: #fff;
    font-size: 16px;

}

h3 {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

/* Estilos para los enlaces */
a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

    a:hover {
        text-decoration: underline;
    }

/* Estilos para la imagen */
img {
    width: 300px;
    height: 300px;
    marginpx;
}


.navbar-nav > li {
    display: inline-block;
    margin-right: 50px;
}

.navbar-collapse {
    display: flex;
    justify-content: right-start;
}
/* Estilos para el enlace "Danger Space" */
.navbar-left {
    float: left;
}

/* Estilos para la barra de tareas */
.navbar-inverse {
    background-color: #333;
    border-color: #333;
    position: relative;
    z-index: 1; /* Añade esta línea para establecer el z-index */
}

/* Estilos para los enlaces en la barra de tareas */
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
    margin-right: 10px;
}

/* Estilos para el fondo */
body {
    background-color: #000;
    background-image: url("../Content/space-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0; /* Añade esta línea para establecer el z-index */
}

/* Estilos para los elementos de texto */
h4 {
    color: #fff;
    font-size: 24px;
}

p {
    color: #fff;
    font-size: 16px;
    text-align:justify;
    display: inline-block;
}

h3 {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

/* Estilos para los enlaces */
a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

    a:hover {
        text-decoration: underline;
    }

/* Estilos para la imagen */
img {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

/* Resto de estilos... */


.container {
    text-align: left;
    width: 800px;
}



    .game-info p {
        max-width: 600px; /* Ajusta el valor según tus preferencias */
        margin: 0 auto; /* Centra el párrafo horizontalmente */
        margin-left: 50px; /* Ajusta el valor para recortar el párrafo hacia la derecha */
    }


.game-mode {
    margin-bottom: 40px;
}

