﻿@model PagJuego.Models.Usuario

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="~/Content/estilos.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="danger-space"><a href="/" style="text-decoration: none; font-size: 20px;"><h1>Danger Space</h1></a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/Home/Noticias">Info</a></li>
                <li><a href="/Home/Descarga">Descargar</a></li>
                <li>@Model.Correo</li> <!-- Mostrar el correo del usuario -->
            </ul>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
