﻿

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="~/Content/estilos.css" rel="stylesheet" type="text/css">


    <style>

        h1, h2 {
            font-size: 24px;
            font-weight: bold;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            color: #ffffff;
            text-decoration: none;
            font-size:15px;
        }

            a:hover {
                text-decoration: underline;
            }

        header {
            background-color: rgba(55, 0, 55, 0.6);
            color: #ffffff;
            padding: 20px;
        }



    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="danger-space"><a href="/Home/Index" style="text-decoration: none; font-size: 20px;"><h1>Danger Space</h1></a></li>
                <li><a href="/Home/Index">Inicio</a></li>
                <li><a href="/Home/Info">Noticias</a></li>
                <li><a href="/Home/Descarga">Descargar</a></li>
                
                <li style="font-family: 'Press Start 2P', sans-serif;" >@(Session["usuario"] as string)</li>
                <li><a href="@Url.Action("IndexLogin", "Home")">Exit</a></li>

                <!-- Mostrar el correo del usuario -->
            </ul>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
