﻿
@{
    ViewBag.Title = "Descarga";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Danger Space - Descargar</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="~/Content/estilos.css" rel="stylesheet" type="text/css">
    <style>
        body {
            background-color: #f0f0f0;
            font-family: 'Press Start 2P', sans-serif;
        }


        nav ul {
            list-style-type: none;
        }

        .container {
            margin: 20px auto;
            padding: 20px;
            width: 80%;
        }


        .title {
            font-size: 20px;
            color: lawngreen;
        }


        .download-section {
            text-align: center;
            margin-bottom: 30px;
        }

            .download-section h2 {
                font-size: 24px;
                margin-bottom: 10px;
            }

            .download-section p {
                font-size: 16px;
                line-height: 1.5;
                color: white;
                margin-bottom: 20px;
            }

        .download-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: transparent;
            box-shadow: 0 0 5px rgb(255 255 255);
            color: #fff;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
        }

            .download-button:hover {
                background-color: white;
                color: black;
            }

        .info-section {
            margin-bottom: 30px;
            color: white;
        }

            .info-section h3 {
                font-size: 20px;
                color: white;
                margin-bottom: 10px;
            }

            .info-section p {
                font-size: 12px;
                line-height: 2.5;
                color: whitesmoke;
            }

        #background-video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="download-section">
            <h2 class="title">Descarga Danger Space</h2>
            <p>Haz clic en el botón de descarga para obtener el juego:</p>
            <a href="https://www.example.com/dangerspace" class="download-button">Descargar ahora</a>
        </div>

        <div class="info-section">
            <h3>Información adicional</h3>
            <p>
                Danger Space es un emocionante juego de acción espacial disponible para PC. Sumérgete en un mundo lleno de aventuras, batallas y misterios cósmicos.
            </p>
            <p>
                Requisitos del sistema:<br>
                - Sistema operativo: Windows 10<br>
                - Procesador: Intel Core i5 o equivalente<br>
                - Memoria RAM: 8 GB<br>
                - Tarjeta gráfica: NVIDIA GeForce GTX 960 o equivalente<br>
                - Almacenamiento: 20 GB de espacio disponible<br>
            </p>
            <p>
                Si tienes alguna pregunta o necesitas soporte técnico, contáctanos en <a href="mailto:soporte@dangerspace.com">soporte@dangerspace.com</a>.
            </p>
        </div>
    </div>

    <video id="background-video" autoplay loop muted>
        <source src="~/Content/y2mate.com - AMONG US FONDO DEL ESPACIO por 5 MINUTOS_720pFHR.mp4" type="video/mp4">

    </video>
</body>
</html>

