﻿

<h1>Bienvenido a Danger Space</h1>


@{
    ViewBag.Title = "Inicio";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Danger Space - Página de inicio</title>
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css">
    <style>

        .container {
            display: flex;
        }

        h2 {
            color: white;
            font-family: 'Press Start 2P', sans-serif;
            font-size: 17px;
        }

        .game-info {
            flex: 1;
            position: relative; /* Opcional: utiliza 'absolute' si necesitas un posicionamiento más preciso */
            left: -60px; /* Puedes ajustar el valor según tus necesidades */
            width: 90%;
        }
        }

        .game-mode {
            flex: 1;
            padding: 20px;
        }

        aside {
            flex: 2;
            padding: 20px;
            background-color: rgba(55, 0, 55, 0.8);
            margin: 50px;
            margin-right: 70px;
            border-radius: 20px;
        }

            aside img {
                margin: 10px
            }

        .download-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: rgba(55, 0, 55, 0.9);
            color: #fff;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
        }

            .download-button:hover {
                background-color: rgb(72, 0, 255);
            }
    </style>
</head>
<body scroll="no">
    <div class="container">
        <div class="game-info">
            <h1>Te Damos La Bienvenida a Danger Space</h1>
            <div class="text-con">
                <div class="game-info">
                    <section>
                        <p>
                            Érase una vez, en un futuro lejano, un intrépido viajero espacial llamado Alex. Alex era un astronauta
                            experimentado y curioso, siempre en busca de nuevas fronteras y misterios por descubrir. Había pasado la
                            mayor parte de su vida explorando diferentes planetas y galaxias, pero esta vez se encontraba en la misión
                            más peligrosa de todas. La humanidad había descubierto recientemente un agujero negro en las profundidades
                            del espacio, conocido como el Abismo Estelar. Se decía que aquellos que se aventuraban cerca de él se perdían
                            para siempre, atrapados en una dimensión desconocida. Intrigado por el misterio que rodeaba este fenómeno cósmico,
                            Alex decidió adentrarse en el Abismo Estelar y descubrir qué secretos ocultaba.
                        </p>
                    </section>
                </div>

                <div class="game-mode">
                    <h3>MODO: NAVE</h3>
                    <div class="game-mode-description">
                        <p>Su modo se basa en luchar y derrotar a las naves enemigas</p>
                    </div>
                    <img src="~/Content/Bunny blast-1 HD.png" alt="Modo Nave">
                </div>

                <div class="game-mode">
                    <h3>MODO: SHOOTER</h3>
                    <div class="game-mode-description">
                        <p>Su modo se basa en pelear contra los enemigos adentro de una nave</p>
                    </div>
                    <img src="~/Content/coming (1).png" alt="Modo Shooter">
                </div>
            </div>
        </div>

        <aside>
            <h2>Proximamente Shooter</h2>
            <p>¡¡Los Avances van muy bien!! ha este paso el modo Shooter estara terminado a Finales de ¡¡Diciembre!!</p>
            <img src="~/Content/coming.png" alt="Modo Nave">
            <br />
            <a href="/Home/Info" class="download-button">Leer +</a>
            <br />

            <h2>¡¡Novedades en camino!!</h2>
            <p>Estamos emocionados de anunciar que estamos trabajando arduamente para llevar el juego Danger Space a múltiples plataformas. Próximamente podrás disfrutar de la emocionante experiencia de juego en tu PC, consolas y dispositivos móviles.</p>
            <img src="~/Content/coming.png" alt="Modo Nave">
            <br />
            <a href="/Home/Info" class="download-button">Leer +</a>
            <br />

        </aside>

    </div>
    <video id="background-video" autoplay loop muted>
        <source src="~/Content/y2mate.com - AMONG US FONDO DEL ESPACIO por 5 MINUTOS_720pFHR.mp4" type="video/mp4">
        Tu navegador no admite la reproducción de videos HTML5.
    </video>
</body>
</html>
