﻿
@{
    ViewBag.Title = "Info";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Danger Space - Página de inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <style>

        body {
            font-family: "Roboto", sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            
            color: #ffffff;
            padding: 20px;
        }

        main {
            margin: 0 auto;
            width: 1200px;
        }

        section {
            margin-bottom: 20px;
        }

        h1, h2 {
            font-size: 24px;
            font-weight: bold;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            color: #ffffff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .news {
            background-color: rgba(55, 0, 55, 0.6);
            padding: 20px;
        }

        .about {
            background-color: rgba(55, 0, 55, 0.6); padding: 20px;
        }

        .featured {
            background-color: rgba(55, 0, 55, 0.6);
            padding: 20px;
        }

        .reviews {
            background-color: rgba(55, 0, 55, 0.6);
            padding: 20px;
        }

        .trailers {
            background-color: rgba(55, 0, 55, 0.6);
            padding: 20px;
        }

        footer {
            background-color: rgba(55, 0, 55, 0.6);
            color: #ffffff;
            padding: 20px;
            text-align: center;
        }
        body {
            font-family: sans-serif;
            font-size: 16px;
           color:#ffffff;
            background-color: rgba(55, 0, 55, 0.6);
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            color: #ffffff;
        }

        p {
            margin: 0 10px;
        }

        a {
            color: #ffffff;
            text-decoration: none;
        }

        img {
            border: 1px solid #000000;
            
        }

        .header {
            background-color: rgba(55, 0, 55, 0.6);
            color: #ffffff;
            padding: 20px;
        }

        .content {
            background-color: rgba(55, 0, 55, 0.6);
            padding: 20px;
        }

        .footer {
            background-color: rgba(55, 0, 55, 0.6);
            color: #ffffff;
            padding: 20px;
        }



        /* Estilos de fondo de video */
        #background-video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }



    </style>
</head>
<body>
   
    <main>
       
        <section class="about">
            <h2>El Inicio de Danger Space</h2>
            <p>Danger Space es un próximo juego de acción y aventuras en 2D desarrollado y publicado por Danger Space Studios. El juego se desarrolla en una galaxia peligrosa y hostil, donde los jugadores deben usar su ingenio y habilidades para sobrevivir. Danger Space está programado para ser lanzado para PC a finales del 2023.</p>
        </section>
        <section class="featured">
            <h2>Proximamente el modo Shooter</h2>
            <img src="~/Content/coming.png" alt="Featured Image">
            <p>This is the featured image for Danger Space. It shows a spaceship flying through a dangerous and hostile galaxy.</p>
        </section>
        <section class="reviews">
            <h2>Prueba la Beta Ahora</h2>
            <ul>
                <li><a href="#">IGN: 10/10</a></li>
                <li><a href="#">GameSpot: 9/10</a></li>
                <li><a href="#">Polygon: 8/10</a></li>
            </ul>
        </section>
        <section class="trailers">
            <h2>Game Trailers</h2>
            <ul>
                <li><a href="#">Danger Space Trailer 1</a></li>
                <li><a href="#">Danger Space Trailer 2</a></li>
                <li><a href="#">Danger Space Trailer 3</a></li>
            </ul>
        </section>
    </main>
    <footer>
        <p>Copyright &copy; 2023 Danger Space News</p>
    </footer>

    <video id="background-video" autoplay loop muted>
        <source src="~/Content/y2mate.com - AMONG US FONDO DEL ESPACIO por 5 MINUTOS_720pFHR.mp4" type="video/mp4">

    </video>
</body>
</html>


