﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Iniciar sesión</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="~/Content/InicioSesion.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Inicia sesión</h1>

        <form>
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" placeholder="Ingrese su usuario">

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" placeholder="Ingrese su contraseña">

            <button type="submit">Iniciar sesión</button>
        </form>

        <div class="register">
            <p>¿No tienes una cuenta? <a href="/Home/Registrar">Regístrate</a></p>
        </div>
    </div>

    <video id="background-video" autoplay loop muted>
        <source src="~/Content/y2mate.com - AMONG US FONDO DEL ESPACIO por 5 MINUTOS_720pFHR.mp4" type="video/mp4">
  
    </video>
</body>
</html>
